In [1]:
import numpy as np
import pandas as pd

# to visualize all the column, run the below code
pd.options.display.max_columns = None
# to show all the records, use the below code
# pd.options.display.max_rows = None

## Fifa Worldcup - 2022 dataset.

You can find the dataset from [here](https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results).

Also you can directly use an url to read the dataset by using `pd.read_csv()` method. Check the below code cell.

In [2]:
# To get the details about the dataset, please visit
# https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv"
df = pd.read_csv(url)
df.head()

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,0,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,0,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,0,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,0,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,0,13,2,391,326,22,8,6,14,0,0

### `Q-1:` Use the football dataset. Find out the total percentages that each team made on target. Display the result as a python dictionary where the keys are the team list and the values are the percentage values. Round off the percentage values up to 2 decimal places.

*Help:*
- First, find out how many total teams are participated in this worldcup. For that, you can use `unique()` method on the column "Team" or "Against".
- Loop through the teams list that you have found in previous section, and then filter the dataset according to that. After filtering the dataset, find out total attempts sum and total on target sum.
- After getting these values, find out the percentage by total on target divided by total attempts and multiply by 100. And store to a python dictionary where the key will be the team name and the values will be the percentages.
- At the end,sort the dictionary by the values (not by the keys) and print the result.


**Sample Output:**
```bash
{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.99,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'Croatia': 34.78,
 'Germany': 34.33,
 'France': 32.97,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.3,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}
```

In [3]:
# code here
teams=df['Team'].unique()
d=dict()
for i in teams:
  tmp=df[df['Team']==i]
  val=tmp['On Target'].sum()/tmp['Total Attempts'].sum()
  d[i]=round(val*100,2)

s=pd.Series(d)
s= s.sort_values(ascending=False)
d=s.to_dict()
d

{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.15,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'France': 34.65,
 'Germany': 34.33,
 'Croatia': 33.73,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.33,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}

### `Q-2:` Find out how many times the teams are played in this Fifa Worldcup-2022. On top of this, find out the ranks of the teams.

Note: The `DataFrame.rank()` method takes an optiinal parameter named `method`. This parameter takes different values, but one of them is `average` which is by-default. So, when you do the rank, you will get some 2.5 like floating values. But if you change the value as `first`, then you will get in integers but the datatype will be float. So, try with `method="first"` parameter.

In [4]:
p=df['Team'].value_counts().rank(method='first')
p

Team
Morocco           29.0
Croatia           30.0
Argentina         31.0
France            32.0
England           25.0
Brazil            26.0
Netherlands       27.0
Portugal          28.0
Poland            17.0
Japan             18.0
Switzerland       19.0
Australia         20.0
Korea Republic    21.0
United States     22.0
Senegal           23.0
Spain             24.0
Cameroon           1.0
Uruguay            2.0
Belgium            3.0
Ghana              4.0
Canada             5.0
Qatar              6.0
Costa Rica         7.0
Germany            8.0
Ecuador            9.0
Mexico            10.0
Tunisia           11.0
Denmark           12.0
Saudi Arabia      13.0
Wales             14.0
Iran              15.0
Serbia            16.0
Name: count, dtype: float64

### `Q-3:` Find out these below topics:
- The information about the Fifa worldcup dataset.
- The description about the Fifa worldcup dataset
- Check is there any missing values, if there is any missing values, fill that value with the average value for that particular column.
- Drop all the duplicate rows permanently.
- Drop the columns: "Sl No", "Match No.", "Red Cards" and "Pts" permanently.

In [10]:
# code here
df.drop_duplicates(inplace=True)
df.drop(columns=['Sl. No',	'Match No.','Red Cards','Pts'],inplace=True)

###`Q-4:` Do these below operations:
- Find out the rank based on the "Team" column and save the result by adding a new column named "Rank".
- Change the datatype of this column to integer by using `np.int16`
- Set the index of the DataFrame by using this "Rank" column permanently.
- After that, sort the dataframe based on the "Rank" index.

In [27]:
# code here
df['Rank']=df['Team'].rank(method='first')
df['Rank']=df['Rank'].astype('int16')
df.set_index('Rank',inplace=True)
df.sort_index(inplace=True)

## Questions on Titanic dataset.

You can get the dataset from [here](https://www.kaggle.com/competitions/titanic). This is the competition page on Kaggle. To download the dataset from here, I guess you have to register for the compition. So, do so and then download the dataset.

Also, for now you can use this url to read the dataset like before:
- dataset 1: https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv
- dataset 2: https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv

### `Q-5:` Do the below tasks:
1. With dataset 1, drop those records which only have missing values of the "Age" column permanently.

2. With the dataset 2, fill the missing values with 20 to the only "Age" column permanently.

In [41]:
# code here
df2=pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv')
df1=pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv')
df1.dropna(subset=['Age'],inplace=True)
df2['Age'].fillna(20,inplace=True)
df2

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,20.0,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,20.0,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,20.0,1,1,2668,22.3583,NaN,C

## Questions on IPL wala dataset

matches dataset = https://drive.google.com/file/d/1yKVUuexl6lIKuFQy7uIPgDgXhJ0L4SIg/view?usp=share_link

Code to directly use in colab
```
ipl_matches = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv"

```

In [217]:
ipl =pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv")
# ipl_matches
ipl_org=ipl.copy()

###`Q-6:` Make a dataframe of each team in IPL with details like - Team Name, Matches Played, Win%, Home Win%, Away Win%.
Show sorted dataframe on Win%

Replace old team name as new name before performing any tasks.
```
Delhi Daredevils ->Delhi Capitals
Kings XI Punjab -> Punjab Kings
Rising Pune Supergiants -> Rising Pune Supergiant
```

Note: Team1 represents Home team. Exclude not result matches.

In [80]:
# code here
ipl.replace('Delhi Daredevils','Delhi Capitals',inplace=True)
ipl.replace('Kings XI Punjab','Punjab Kings',inplace=True)
ipl.replace('Rising Pune Supergiants','Rising Pune Supergiant',inplace=True)

In [81]:
ipl.dropna(subset='WinningTeam',inplace=True)
ipl['WinningTeam'].unique()

array(['Gujarat Titans', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Punjab Kings', 'Mumbai Indians',
       'Lucknow Super Giants', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Chennai Super Kings',
       'Rising Pune Supergiant', 'Gujarat Lions', 'Pune Warriors',
       'Deccan Chargers', 'Kochi Tuskers Kerala'], dtype=object)

In [82]:
df_details = pd.DataFrame(columns=['Team Name', 'Matches Played', 'Win%', 'Home Win%', 'Away Win%.'])
cnt=0
for i in ipl['Team1'].unique():
  tmp = ipl[(ipl['Team1']==i) |(ipl['Team2']==i)]
  matches = len(tmp)
  win_per = round(((tmp['WinningTeam']==i).sum()/matches)*100,2)
  home_win = round((((tmp['Team1']==tmp['WinningTeam'])&(tmp['Team1']==i)).sum()/matches)*100,2)
  away_win = round((((tmp['Team2']==tmp['WinningTeam'])&(tmp['Team2']==i)).sum()/matches)*100,2)
  df_details.loc[cnt]=[i,matches,win_per, home_win, away_win]
  cnt+=1
df_details.sort_values('Win%',ascending=False)

                      Team Name  Matches Played   Win%  Home Win%  Away Win%.
5                Gujarat Titans              16  75.00      25.00       50.00
6          Lucknow Super Giants              15  60.00      46.67       13.33
4           Chennai Super Kings             208  58.17      31.25       26.92
9                Mumbai Indians             231  56.71      28.14       28.57
7         Kolkata Knight Riders             223  51.12      25.11       26.01
0              Rajasthan Royals             190  50.53      25.79       24.74
10       Rising Pune Supergiant              30  50.00      23.33       26.67
2           Sunrisers Hyderabad             152  49.34      23.68       25.66
1   Royal Challengers Bangalore             223  48.88      27.35       21.52
3                Delhi Capitals             222  46.40      23.87       22.52
8                  Punjab Kings             218  46.33      22.94       23.39
11                Gujarat Lions              30  43.33      16.67       26.67
14         Kochi Tuskers Kerala              14  42.86      21.43       21.43
13              Deccan Chargers              75  38.67      17.33       21.33
12                Pune Warriors              45  26.67      13.33       13.33

###`Q-7:` Venues with most "no result" matches.

In [94]:
# code here
ipl_org[ipl_org['WonBy']=='NoResults']['Venue'].value_counts()

Venue
M Chinnaswamy Stadium    2
M.Chinnaswamy Stadium    1
Feroz Shah Kotla         1
Name: count, dtype: int64

###`Q-8:` Player with most appearance in final match.

`Team1Players` and `Team2Players` have all players name. It is not a list of players name instead it is str. So handle it as string.

Hint: split and strip will help; Make a series of all players in final and do value counts

In [151]:
# code here
# p=ipl['Team1Players']+ipl['Team2Players']
tmp=ipl[ipl['MatchNumber']=='Final']
p=tmp['Team1Players'].str.strip(" '[']'")+tmp['Team2Players'].str.strip("'[ ']' ")
l=pd.Series(p.sum().split(','))
l=l.str.strip("' ")
l.value_counts()

MS Dhoni                   10
SK Raina                    8
DJ Bravo                    7
R Ashwin                    7
RA Jadeja                   7
                           ..
SL MalingaAM Rahane         1
L NgidiLMP Simmons          1
Sandeep SharmaSR Watson     1
S Kaul                      1
MM Patel                    1
Name: count, Length: 179, dtype: int64

###`Q-9:` IPL Point Table

Make a function `point_table` which take `season` as parameter and show points table in non-ascendng order of points and in ascending order of team name.

For winning - 2 Ponits;
For loosing - 0 Point
For not result both team gets 1 points.

Make dataframe which will have
`TeamName` `MatchesPlayed` `MatchesWon` `NoResult` `Points`
make `TeamName` as index.

```
season parametr should be one of these->
['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08']
```

Output of two Top 2 in season 2022
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points

Gujarat Titans	    16	   12	       0	     24
Rajasthan Royals	  17	   10	       0	     20

```

In [174]:
# code here

def point_table(season):
  df_point=pd.DataFrame(columns=['TeamName', 'MatchesPlayed', 'MatchesWon', 'NoResult', 'Points'])

  tmp=ipl_org[ipl_org['Season']==season]
  # print(tmp)
  team=tmp['Team1'].unique()
  cnt=0
  # print(team)
  for i in team:
    matches = len(tmp[((tmp['Team1']==i)|(tmp['Team2']==i))])
    won = len(tmp[((tmp['WinningTeam']==i)|(tmp['WinningTeam']==i))])
    no_res = len(tmp[((tmp['WonBy']==i)|(tmp['WonBy']==i))])
    point = won*2+no_res
    df_point.loc[cnt]= [i, matches, won, no_res, point]
    cnt+=1
  df_point.set_index('TeamName',inplace=True)
  df_point=df_point.sort_values('Points',ascending=False)
  print(df_point.head(2))

point_table('2022')

                  MatchesPlayed  MatchesWon  NoResult  Points
TeamName
Gujarat Titans               16          12         0      24
Rajasthan Royals             17          10         0      20

###`Q-10:` IPL Point Table cont.
Extend the above IPL Point Table with an extra column as `SeasonPosition`

Team below top 4 after sorting on `Points` and then on `TeamName` Will have same `SeasonPosition` as there rank. use rank function.

Teams in Top four will have `SeasonPosition` as:
```
    'Winner' - Team won final
    'Runner' - Team lost Final
    3 - Losing Team in Qualifier2
    4 - Losing Team in Eliminator
```

For changing value of pariticular cell use `df.at[row_index, col_label] = value`

Output of two Top 2 in season 2022. Your result should have all teams.
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points   SeasonPosition

Gujarat Titans	    16	   12	       0	     24         Winner
Rajasthan Royals	  17	   10	       0	     20         Runner

```

Note: If you try to chnage value of view of any dataframe a warnig will be shown. To avoid it, make a copy of the dataframe you want to change in by `df.copy()`

In [220]:
ipl_org[ipl_org['Season']=='2022'].MatchNumber.unique()

array(['Final', 'Qualifier 2', 'Eliminator', 'Qualifier 1', '70', '69',
       '68', '67', '66', '65', '64', '63', '62', '61', '60', '59', '58',
       '57', '56', '55', '54', '53', '52', '51', '50', '49', '48', '47',
       '46', '45', '44', '43', '42', '41', '40', '39', '38', '37', '36',
       '35', '34', '33', '32', '31', '30', '29', '28', '27', '26', '25',
       '24', '23', '22', '21', '20', '19', '18', '17', '16', '15', '14',
       '13', '12', '11', '10', '9', '8', '7', '6', '5', '4', '3', '2',
       '1'], dtype=object)

In [240]:
# code here
# code here

def point_table(season):
  df_point=pd.DataFrame(columns=['TeamName', 'MatchesPlayed', 'MatchesWon', 'NoResult', 'Points'])

  tmp=ipl_org[ipl_org['Season']==season]
  # display(tmp)
  team=tmp['Team1'].unique()
  cnt=0
  # print(team)
  for i in team:
    matches = len(tmp[((tmp['Team1']==i)|(tmp['Team2']==i))])
    won = len(tmp[((tmp['WinningTeam']==i)|(tmp['WinningTeam']==i))])
    no_res = len(tmp[((tmp['WonBy']==i)|(tmp['WonBy']==i))])
    point = won*2+no_res
    df_point.loc[cnt]= [i, matches, won, no_res, point]
    cnt+=1
  df_point.set_index('TeamName',inplace=True)
  df_point=df_point.sort_values('Points',ascending=False)


  teams=[]
  df_point['SeasonPosition']=df_point['Points'].rank(method='first',ascending=False)
  # winner=str(tmp[tmp['MatchNumber']=='Final']['WinningTeam'][0]).strip()
  # teams.append(str(tmp[tmp['MatchNumber']=='Final']['Team1'][0]).strip())
  # teams.append(str(tmp[tmp['MatchNumber']=='Final']['Team2'][0]).strip())

  # # print(teams,winner, winner.strip()==teams[1])
  # runner= teams[0] if teams[1]==winner else teams[1]
  # print(winner, runner)

  tmp_2=tmp.copy()
  tmp_2['LosingTeam']= tmp.apply(lambda x: x['Team1'] if x['Team2']==x['WinningTeam'] else x['Team2'],axis=1)
  df_point.at[tmp_2[tmp_2['MatchNumber']=='Final']['WinningTeam'][0],'SeasonPosition']='Winner'
  df_point.at[tmp_2[tmp_2['MatchNumber']=='Final']['LosingTeam'][0],'SeasonPosition']='Runner'
  # print(tmp_2[tmp_2['MatchNumber']=='Qualifier 2']['LosingTeam'].values[0])
  df_point.at[tmp_2[tmp_2['MatchNumber']=='Qualifier 2']['LosingTeam'].values[0],'SeasonPosition']=3
  df_point.at[tmp_2[tmp_2['MatchNumber']=='Eliminator']['LosingTeam'].values[0],'SeasonPosition']='4'


  display(df_point)
point_table('2022')

<ipython-input-240-7caa0a2dd4a8>:35: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Winner' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_point.at[tmp_2[tmp_2['MatchNumber']=='Final']['WinningTeam'][0],'SeasonPosition']='Winner'

,MatchesPlayed,MatchesWon,NoResult,Points,SeasonPosition
TeamName,,,,,
Gujarat Titans,16,12,0,24,Winner
Rajasthan Royals,17,10,0,20,Runner
Royal Challengers Bangalore,16,9,0,18,3
Lucknow Super Giants,15,9,0,18,4
Delhi Capitals,14,7,0,14,5.0
Punjab Kings,14,7,0,14,6.0
Sunrisers Hyderabad,14,6,0,12,7.0
Kolkata Knight Riders,14,6,0,12,8.0
Chennai Super Kings,14,4,0,8,9.0
Mumbai Indians,14,4,0,8,10.0